@charset "UTF-8";
/* cyrillic-ext */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v19/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVs9pbCFPrEHJA.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

/* cyrillic */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v19/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVs9pbCMPrEHJA.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* vietnamese */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v19/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVs9pbCHPrEHJA.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v19/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVs9pbCGPrEHJA.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v19/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVs9pbCIPrE.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* cyrillic-ext */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v27/KFOmCnqEu92Fr1Mu72xKOzY.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

/* cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v27/KFOmCnqEu92Fr1Mu5mxKOzY.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* greek-ext */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v27/KFOmCnqEu92Fr1Mu7mxKOzY.woff2) format("woff2");
  unicode-range: U+1F00-1FFF;
}

/* greek */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v27/KFOmCnqEu92Fr1Mu4WxKOzY.woff2) format("woff2");
  unicode-range: U+0370-03FF;
}

/* vietnamese */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v27/KFOmCnqEu92Fr1Mu7WxKOzY.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v27/KFOmCnqEu92Fr1Mu7GxKOzY.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v27/KFOmCnqEu92Fr1Mu4mxK.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* cyrillic-ext */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v27/KFOlCnqEu92Fr1MmEU9fCRc4EsA.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

/* cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v27/KFOlCnqEu92Fr1MmEU9fABc4EsA.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* greek-ext */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v27/KFOlCnqEu92Fr1MmEU9fCBc4EsA.woff2) format("woff2");
  unicode-range: U+1F00-1FFF;
}

/* greek */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v27/KFOlCnqEu92Fr1MmEU9fBxc4EsA.woff2) format("woff2");
  unicode-range: U+0370-03FF;
}

/* vietnamese */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v27/KFOlCnqEu92Fr1MmEU9fCxc4EsA.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v27/KFOlCnqEu92Fr1MmEU9fChc4EsA.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v27/KFOlCnqEu92Fr1MmEU9fBBc4.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* cyrillic-ext */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v27/KFOlCnqEu92Fr1MmWUlfCRc4EsA.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

/* cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v27/KFOlCnqEu92Fr1MmWUlfABc4EsA.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* greek-ext */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v27/KFOlCnqEu92Fr1MmWUlfCBc4EsA.woff2) format("woff2");
  unicode-range: U+1F00-1FFF;
}

/* greek */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v27/KFOlCnqEu92Fr1MmWUlfBxc4EsA.woff2) format("woff2");
  unicode-range: U+0370-03FF;
}

/* vietnamese */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v27/KFOlCnqEu92Fr1MmWUlfCxc4EsA.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v27/KFOlCnqEu92Fr1MmWUlfChc4EsA.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v27/KFOlCnqEu92Fr1MmWUlfBBc4.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* cyrillic-ext */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v27/KFOlCnqEu92Fr1MmYUtfCRc4EsA.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

/* cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v27/KFOlCnqEu92Fr1MmYUtfABc4EsA.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* greek-ext */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v27/KFOlCnqEu92Fr1MmYUtfCBc4EsA.woff2) format("woff2");
  unicode-range: U+1F00-1FFF;
}

/* greek */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v27/KFOlCnqEu92Fr1MmYUtfBxc4EsA.woff2) format("woff2");
  unicode-range: U+0370-03FF;
}

/* vietnamese */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v27/KFOlCnqEu92Fr1MmYUtfCxc4EsA.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v27/KFOlCnqEu92Fr1MmYUtfChc4EsA.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v27/KFOlCnqEu92Fr1MmYUtfBBc4.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
  color: #212121;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-style: normal;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  display: block;
  text-decoration: none;
}

/* Утилиты */
.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* / Утиилиты */
.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 80px;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 80px;
}

/* Site-nav */
.site-nav {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 93px;
}

.site-nav__item {
  margin-left: 50px;
}

.site-nav__item:last-child {
  margin-right: 0;
}

.contact-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
}

.contact-nav__item {
  margin-left: 50px;
}

.site-nav__link,
.contact-nav__link {
  padding-top: 30px;
  padding-bottom: 30px;
  font-weight: 500;
  line-height: 1.14;
  color: #212121;
  text-decoration: none;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav__link,
.contact-nav__link {
  padding-top: 30px;
  padding-bottom: 30px;
  font-weight: 500;
  line-height: 1.14;
  color: #212121;
  text-decoration: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav__link:hover, .site-nav__link:focus,
.contact-nav__link:hover,
.contact-nav__link:focus {
  color: #2196f3;
}

/* акцент на текущей странице */
.site-nav__link--current {
  color: #2196f3;
  text-decoration: none;
}

.site-nav__item {
  position: relative;
}

.site-nav__link--current::after {
  position: absolute;
  bottom: -200%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: inline-block;
  content: "";
  height: 4px;
  width: 48px;
  border-radius: 2px;
  background-color: #2196f3;
}

/*// псевдоэлемент нижн подчеркивание */
.contact-nav__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  line-height: 1.14;
  color: #757575;
  text-decoration: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-nav__icon-evelope {
  display: block;
  height: 12px;
  width: 16px;
}

.contact-nav__icon-smartphone {
  display: block;
  height: 16px;
  width: 10px;
}

.contact-nav__icon-evelope,
.contact-nav__icon-smartphone {
  margin-right: 10px;
  cursor: pointer;
  fill: currentColor;
}

.contact-nav__link:focus .contact-nav__icon-evelope,
.contact-nav__link:focus .contact-nav__icon-smartphone {
  color: #2196f3;
}

.logo {
  display: block;
  color: #212121;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.logo__accent-color {
  color: #2196f3;
}

/* Герой */
.hero {
  min-height: 600px;
  max-width: 1600px;
  padding-top: 200px;
  padding-bottom: 200px;
  padding-left: 252px;
  padding-right: 252px;
  font-family: "Roboto", sans-serif;
  background: #2f303a;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero-bg.jpg");
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-bg.jpg");
  background-size: 1600px;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.hero__title {
  margin-top: 0;
  margin-bottom: 30px;
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
}

.btn {
  display: block;
  border-radius: 4px;
  border: #2196f3;
  padding: 10px 32px;
  margin-right: auto;
  margin-left: auto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: #2196f3;
}

/* / Герой */
/* / Особенности  */
.features-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.features-list__item {
  width: 270px;
  margin-right: 30px;
}

.features-list__item:last-child {
  margin-right: 0;
}

.features-list__icon-antenna {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 120px;
  width: 270px;
  background: #f5f4fa;
  border-radius: 4px;
}

.features-list__icon-clock {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 120px;
  width: 270px;
  background: #f5f4fa;
  border-radius: 4px;
}

.features-list__icon-diagram {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 120px;
  width: 270px;
  background: #f5f4fa;
  border-radius: 4px;
}

.features-list__icon-astronaut {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 120px;
  width: 270px;
  background: #f5f4fa;
  border-radius: 4px;
}

.features-list__text {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.features-list__card-set {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  border-radius: 4px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.features-list__icon-clock, .features-list__icon-diagram, .features-list__icon-antenna, .features-list__icon-astronaut {
  width: 70px;
  height: 70px;
}

.features__title--visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.features-list__title,
.footer-page__title {
  margin-top: 0;
  margin-bottom: 10px;
  text-align: left;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.17;
  text-transform: uppercase;
}

#svg-sprite {
  display: none;
}

/* / Чем мы занимаемся */
.what-we-do {
  padding-top: 0;
}

.what-we-do-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.what-we-do__title {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-style: normal;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.thumb {
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
  display: block;
}

.thumb .label {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0;
  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  background-color: rgba(47, 48, 58, 0.8);
  color: #ffffff;
}

.team-page {
  background-color: #f5f4fa;
}

.team-page-list__item--card-team {
  -webkit-box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  overflow: hidden;
  background-color: #ffffff;
}

.team-page-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.team-page-list__item {
  margin-right: 30px;
}

.team-page-list__item:last-child {
  margin-right: 0;
}

.team-page-list__item {
  width: 270px;
}

.team-page-list__title {
  margin-top: 0;
  margin-bottom: 10px;
  font-style: normal;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.19;
  text-align: center;
}

.team-page-list__text {
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.19;
  text-align: center;
  color: #757575;
}

.team-page__title,
.clients-page__title {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-style: normal;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.card-thumb__img {
  margin-bottom: 50px;
}

.team-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
}

.social-icons-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social-icons-list__item {
  margin-right: 10px;
}

.social-icons-list__item:last-child {
  margin-right: 0;
}

.social-icons-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  color: #afb1b8;
  cursor: pointer;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icons-list__link:hover, .social-icons-list__link:focus {
  color: #ffffff;
  background-color: #2196f3;
}

.social-icons-list__link:focus {
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.instagram,
.twitter,
.facebook,
.linkedin {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.none-border-bottom {
  padding: 20px 24px 16px;
  /* border-bottom: 1px solid rgba(238, 238, 238, 1); */
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.clients-page__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  list-style: none;
  /* outline: 1px solid rgba(33, 150, 243, 1); */
}

.clients-page__list .clients-page__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  list-style: none;
}

.clients-page__list .clients-page__item {
  margin-right: 30px;
}

.clients-page__list .clients-page__item:last-child {
  margin-right: 0;
}

.clients-page__list .clients-page__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 170px;
  height: 90px;
  border-radius: 4px;
  border: 1px solid #afb1b8;
  color: #afb1b8;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-page__list .clients-page__link:hover, .clients-page__list .clients-page__link:focus {
  color: #2196f3;
  border-color: #2196f3;
  outline: 1px solid #2196f3;
  outline: none;
}

.clients-page__list .clients-page__icon {
  fill: currentColor;
}

/* Футер */
.footer-page {
  padding-top: 60px;
  padding-bottom: 60px;
  background: #2f303a;
}

.footer-page__logo {
  margin-bottom: 20px;
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: #ffffff;
}

.footer-page__address {
  font-style: normal;
  color: #ffffff;
}

.footer-page__text {
  font-style: normal;
  font-weight: 400;
  line-height: 1.71;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-page__text:hover, .footer-page__text:focus {
  color: #2196f3;
}

.footer-page__item {
  margin-top: 9px;
}

.footer-page__item {
  padding: 0;
  margin: 0;
  margin-top: 9px;
}

.foooter-page__address {
  margin-top: 20px;
  line-height: 1.71;
  color: #ffffff;
  font-style: normal;
  font-weight: 400;
}

.footer-nav-position {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

/* соцсети футер */
.footer-social-box {
  margin-left: 70px;
  margin-right: 93px;
}

.footer-page__title--light {
  color: #ffffff;
  margin-bottom: 20px;
}

.footer-page-social-icons__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-page-social-icons__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  height: 44px;
  width: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-page-social-icons__link:hover, .footer-page-social-icons__link:focus {
  background-color: #2196f3;
}

.footer-page-social-icons__item {
  margin-right: 10px;
}

.footer-page-social-icons__item:last-child {
  margin-right: 0;
}

/* // соцсети футер */
.footer-page__title--light {
  color: #ffffff;
  margin-bottom: 20px;
}

.footer-page-social-icons__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-page-social-icons__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  height: 44px;
  width: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-page-social-icons__link:hover, .footer-page-social-icons__link:focus {
  background-color: #2196f3;
}

.footer-page-social-icons__item {
  margin-right: 10px;
}

.footer-page-social-icons__item:last-child {
  margin-right: 0;
}

/*  Форма-футер */
.form-footer {
  width: 570px;
  height: 86px;
  border-color: #2196f3;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.footer-page__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-form__input {
  display: block;
  width: 356px;
  height: 50px;
  padding: 0;
  padding-left: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-right: 12px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  text-align: left;
  background: #2f303a;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: #ffffff;
}

/* кнопка */
.footer-form__button {
  display: block;
  padding: 0;
  border: none;
  width: 200px;
  height: 50px;
  padding: 10px 28px;
  background: #2196f3;
  background-image: url("../images/svg/send.svg");
  background-size: 24px 24px;
  background-repeat: no-repeat;
  background-position: 84% 50%;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 1px solid #2196f3;
  border-radius: 4px;
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.06em;
  text-align: left;
  color: white;
  cursor: pointer;
}

/*  // Форма-футер */
.form-footer {
  width: 570px;
  height: 86px;
  border-color: #2196f3;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.footer-page__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-form__input {
  width: 356px;
  height: 50px;
  padding: 0;
  padding-left: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-right: 12px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  text-align: left;
  background: #2f303a;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: #ffffff;
}

.footer-form__button {
  display: block;
  padding: 0;
  border: none;
  width: 200px;
  height: 50px;
  padding: 10px 28px;
  background: #2196f3;
  background-image: url("../images/svg/send.svg");
  background-size: 24px 24px;
  background-repeat: no-repeat;
  background-position: 84% 50%;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 1px solid #2196f3;
  border-radius: 4px;
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.06em;
  text-align: left;
  color: white;
  cursor: pointer;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(1.1);
          transform: translate(-50%, -50%) scale(1.1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 581px;
  width: 528px;
  border-radius: 4px;
  background: white;
  -webkit-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal .modal-button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: white;
  text-align: center;
  background-image: url("../images/close.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

/* modal */
/* утилита */
textarea {
  resize: none;
}

.modalform {
  width: 528px;
  height: 581px;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  padding: 40px;
}

.modalform-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px;
}

.modalform__label {
  display: block;
  margin-bottom: 4px;
}

.modalform__input {
  width: 448px;
  height: 40px;
  margin: 0;
  padding: 11px 12px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.modalform__textarea placeholder {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-size: 12px;
  font-weight: 400;
  line-height: 0.86;
  letter-spacing: 0.01em;
  text-align: left;
  color: rgba(117, 117, 117, 0.5);
}

.modalform__textarea {
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-size: 12px;
  text-align: left;
  color: black;
}

.modalform__title {
  margin: 0;
  padding: 0;
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 20px;
  line-height: 0.78;
  text-align: center;
  color: #212121;
}

.modalform-field {
  position: relative;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  line-height: 0.86;
  letter-spacing: 0.01em;
  color: #757575;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modalform__input:focus,
.modalform__button:focus,
.modalform__textarea:focus {
  outline: none;
  border-color: #2196f3;
  fill: #2196f3;
}

.policy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  height: 24px;
  margin-top: 10px;
  margin-bottom: 40px;
}

.modalform__policy-link {
  color: #2196f3;
}

.modalform__policy-link:focus {
  outline: none;
  -webkit-box-shadow: 0 0 0 2px #2196f3;
          box-shadow: 0 0 0 2px #2196f3;
}

.modalform__button {
  display: block;
  height: 50px;
  width: 200px;
  border: none;
  margin: auto;
  padding: 10px 55px;
  background: #2196f3;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 0.53;
  letter-spacing: 0.06em;
  text-align: center;
  color: white;
}

.modalform__button:focus {
  outline: none;
  -webkit-box-shadow: 0 0 0 2px #2196f3;
          box-shadow: 0 0 0 2px #2196f3;
}

.icon-person,
.icon-phone,
.icon-evelope {
  position: absolute;
  top: 50%;
  left: 15px;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  display: inline-block;
  width: 12px;
  height: 12px;
  fill: #212121;
}

.modalform__input:focus ~ .icon-person,
.modalform__input:focus ~ .icon-phone,
.modalform__input:focus ~ .icon-evelope {
  fill: #2196f3;
}

/* оформление метки на цсс */
/* opions */
.option {
  position: relative;
  display: block;
  margin-bottom: 4px;
}

/* check */
.modalform__check {
  display: inline-block;
  padding-left: 35px;
  margin-bottom: 30px;
}

.modalform__check-input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.modalform__check-box {
  position: absolute;
  width: 10px;
  height: 10px;
  margin-top: 3.2px;
  margin-left: -16px;
  border-radius: 1px;
  -webkit-box-shadow: 0 0 0 1px #212121, 0px 4px 4px 0px #00000040;
          box-shadow: 0 0 0 1px #212121, 0px 4px 4px 0px #00000040;
  background-color: #ffffff;
  color: #ffffff;
}

/* checked */
.modalform__check-input:checked + .modalform__check-box,
.modalform__check-input:checked:focus + .modalform__check-box {
  background-color: #2196f3;
  background-image: url("../../images/check.svg");
  -webkit-box-shadow: 0 0 0 2px #2196f3;
          box-shadow: 0 0 0 2px #2196f3;
}

/* focused */
.modalform__check-input:focus + .modalform__check-box {
  -webkit-box-shadow: 0 0 0 2px #2196f3;
          box-shadow: 0 0 0 2px #2196f3;
}

.modalform__check-box-text {
  color: #757575;
}

/* // оформление метки на цсс */
/* // modal */
textarea {
  resize: none;
}

.modalform {
  width: 528px;
  height: 581px;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  padding: 40px;
}

.modalform-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px;
}

.modalform__label {
  display: block;
  margin-bottom: 4px;
}

.modalform__input {
  width: 448px;
  height: 40px;
  margin: 0;
  padding: 11px 12px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.modalform__input:focus ~ .icon-person,
.modalform__input:focus ~ .icon-phone,
.modalform__input:focus ~ .icon-evelope {
  fill: #2196f3;
}

.modalform__textarea placeholder {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-size: 12px;
  font-weight: 400;
  line-height: 0.86;
  letter-spacing: 0.01em;
  text-align: left;
  color: rgba(117, 117, 117, 0.5);
}

.modalform__textarea {
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-size: 12px;
  text-align: left;
  color: black;
}

.modalform__title {
  margin: 0;
  padding: 0;
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 20px;
  line-height: 0.78;
  text-align: center;
  color: #212121;
}

.modalform-field {
  position: relative;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  line-height: 0.86;
  letter-spacing: 0.01em;
  color: #757575;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modalform__input:focus, .modalform__button:focus, .modalform__textarea:focus {
  outline: none;
  border-color: #2196f3;
  fill: #2196f3;
}

.modalform__policy-link {
  color: #2196f3;
}

.modalform__policy-link:focus {
  outline: none;
  -webkit-box-shadow: 0 0 0 2px #2196f3;
          box-shadow: 0 0 0 2px #2196f3;
}

.modalform__button {
  display: block;
  height: 50px;
  width: 200px;
  border: none;
  margin: 30px auto;
  padding: 10px 55px;
  background: #2196f3;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 0.53;
  letter-spacing: 0.06em;
  text-align: center;
  color: white;
}

.modalform__button:focus {
  outline: none;
  -webkit-box-shadow: 0 0 0 2px #2196f3;
          box-shadow: 0 0 0 2px #2196f3;
}

.modalform__check {
  display: inline-block;
  padding-left: 35px;
  margin-bottom: 30px;
}

.modalform__check-input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.modalform__check-input:checked + .modalform__check-box,
.modalform__check-input:checked:focus + .modalform__check-box {
  background-color: #2196f3;
  background-image: url("../../images/check.svg");
  -webkit-box-shadow: 0 0 0 2px #2196f3;
          box-shadow: 0 0 0 2px #2196f3;
}

.modalform__check-input:focus + .modalform__check-box {
  -webkit-box-shadow: 0 0 0 2px #2196f3;
          box-shadow: 0 0 0 2px #2196f3;
}

.modalform__check-box {
  position: absolute;
  width: 10px;
  height: 10px;
  margin-top: 3.2px;
  margin-left: -16px;
  border-radius: 1px;
  -webkit-box-shadow: 0 0 0 1px #212121, 0px 4px 4px 0px #00000040;
          box-shadow: 0 0 0 1px #212121, 0px 4px 4px 0px #00000040;
  background-color: #ffffff;
}

.modalform__check-box-text {
  color: #757575;
}

.policy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  height: 24px;
  margin-top: 10px;
  margin-bottom: 40px;
}

.icon-person,
.icon-phone,
.icon-evelope {
  position: absolute;
  top: 50%;
  left: 15px;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  display: inline-block;
  width: 12px;
  height: 12px;
  fill: #212121;
}

.option {
  position: relative;
  display: block;
  margin-bottom: 4px;
}

.portfolio-page {
  border: 1px #eeeeee;
}

.gallery__list {
  margin-top: 0;
  margin-bottom: 0;
}

.gallery__card-link {
  position: relative;
  width: 370px;
  overflow: hidden;
  text-decoration: none;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.gallery__card-link:hover, .gallery__card-link:focus {
  -webkit-box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.card-thumb {
  position: relative;
  overflow: hidden;
  border-left: 1px solid #eeeeee;
  border-top: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}

.card-content {
  padding: 20px 24px 16px;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  overflow: hidden;
}

/*  overlay */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  opacity: 0;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.gallery__overlay-text {
  padding: 62px 20px;
  font-size: 18px;
  font-style: normal;
  line-height: 28px;
  letter-spacing: 0.03em;
  text-align: left;
  color: white;
  background: rgba(33, 150, 243, 0.9);
}

.overlay {
  opacity: 0;
}

.card-box:hover .overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

/* // overlay */
/* флекс-контейнер */
.gallery__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: calc(-1 * 30px);
  margin-top: calc(-1 * 30px);
}

/* флекс-элемент */
.gallery__item {
  -ms-flex-preferred-size: calc(100% / 3 - 30px);
      flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}

.gallery__title {
  color: #212121;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.gallery__text {
  margin-top: 4px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  color: #757575;
}

.filter__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 0;
  margin-bottom: 50px;
}

.filter__item {
  margin-right: 8px;
}

.filter__item:last-child {
  margin-right: 0;
}

.filter__button {
  display: inline-block;
  border-radius: 4px;
  border: #2196f3;
  padding: 10px 32px;
  background: #f5f4fa;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  -webkit-transition-property: color, background-color, border-color, -webkit-box-shadow;
  transition-property: color, background-color, border-color, -webkit-box-shadow;
  transition-property: color, background-color, border-color, box-shadow;
  transition-property: color, background-color, border-color, box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.filter__button:hover, .filter__button:focus {
  color: #ffffff;
  background: #2196f3;
  border-color: #2196f3;
  -webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

.button__list {
  color: #212121;
  background: #f5f4fa;
  text-decoration: none;
}
/*# sourceMappingURL=main.css.map */