/* Наша команда */
.team-page {
  background-color: $bg-second;
}

.team-page-list {
  @extend %list;
}

.team-page-list__item--card-team {
  padding-bottom: 24px;
  border-radius: 0px 0px 4px 4px;
  box-shadow: $card-shadow;
  overflow: hidden;
  background-color: #fff;
}

.team-page-list__item {
  margin-bottom: 30px;
  width: 450px;
  height: 622px;

  &__item:last-child {
    margin-bottom: 0;
  }
}

.card-thumb__img {
  margin-bottom: 30px;
}

.team-page-list__title {
  margin-top: 0;
  margin-bottom: 10px;

  font-size: 16px;
  font-weight: 500;
  line-height: 1.19;
  text-align: center;
  color: $title-color;
}

.team-page-list__text {
  margin-top: 0;
  margin-bottom: 16px;

  font-size: 16px;
  font-weight: 400;
  line-height: 1.19;
  text-align: center;
  color: $text-color;
}

/* Спрайт соцсети команды */
.social-icons-list {
  @extend %list;

  display: flex;
  justify-content: center;
  text-align: center;
}

.social-icons-list__item {
  margin-right: 10px;

  &__item:last-child {
    margin-right: 0;
  }
}

.social-icons-list__link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  color: rgba(175, 177, 184, 1);
  //   cursor: pointer;
  //   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.instagram,
.twitter,
.facebook,
.linkedin {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

/*/ Спрайт соцсети команды */
/* / Наша команда */
